@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.picz{
  border: red 1px solid; 
  min-height: 80px; 
  width: 100%;
}
.stuff{
  padding: 5px;
  border-radius: 5px;
}
.stuff select{
  margin-left: 10px;
  font-size: 1rem;
}
.stuff button{
  border: none;
  text-decoration: none;
  outline: none;
}
.form-select{
  border-radius: 2px;
  border: none;
  text-decoration: none;
}
.form-select:focus{
  border-radius: 2px;
  border: none;
  text-decoration: none;
}
#upload{
  margin-bottom: 100px;
  border-radius: 5px;
}

